ml-collections==0.1.0
tensorflow==2.8.4
tensorflow-gan==2.0.0
tensorflow_io==0.34.0
tensorflow_datasets==3.1.0
tensorflow-addons==0.22.0
tensorboard==2.8.0
absl-py==0.10.0
torch==2.1.0+cu118
torchvision==0.16.0+cu118
ninja
datasets
matplotlib
scikit-learn
huggingface_hub
ipywidgets
Iprogress
wandb